* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

@font-face {
  font-family: "Cabin";
  src: url("../fonts/Cabin/static/Cabin-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Cabin";
  src: url("../fonts//Cabin/static/Cabin-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Cabin";
  src: url("../fonts/Cabin/static/Cabin-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Cabin";
  src: url("../fonts/Cabin/static/Cabin-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Century-Gothic";
  src: url("../fonts/century-gothic-font/Century-Gothic.ttf");
}

@font-face {
  font-family: 'CarroisGothic-Regular';
  src: url('../fonts/Carrois_Gothic/CarroisGothic-Regular.ttf');
}

:root {
  --cabin-font-family: "Cabin";
  --popping-font-family: "Poppins";
  --century-gothic-font-family: "Century-Gothic";
  --carrois-gothic-font-family: 'CarroisGothic-Regular';
  --gray-theme-color: #404b69;
  --primary-btn-color: #d83f31;
  --secondary-btn-color: #1eae98;
}

body {
  font-family: var(--cabin-font-family);
}

main {
  padding: 20px 25px 0 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mb-20px {
  margin-bottom: 20px;
}

.gap-10px {
  gap: 10px;
}

.line-height-auto {
  line-height: normal !important;
}

/* global css */
.dashboard-main {
  display: flex;
  justify-content: start;
  overflow: hidden;
}

.side-bar {
  height: 100vh;
  padding: 43px 0 35px;
  display: flex;
  flex-direction: column;
  max-width: 305px;
  width: 100%;
  background-color: #eff9fe;
}

.dashboard-right-area {
  overflow: auto;
  height: 100vh;
  flex-grow: 1;
}

.dashboard-right-area::-webkit-scrollbar {
  width: 4px;
}

.dashboard-right-area::-webkit-scrollbar-track {
  border-radius: 25px;
  background-color: transparent;
}

.dashboard-right-area::-webkit-scrollbar-thumb {
  background: #00818A;
  border-radius: 10px;
}

.dashboard-right-area::-webkit-scrollbar-thumb:hover {
  background: #00818A;
}


.primary-btn,
.secondary-btn {
  font-style: italic;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 17px;
  color: #eff9fe;
  background: var(--primary-btn-color);
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 45px;
  padding: 8px 23px 10px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.secondary-btn {
  background: #1eae98;
  width: 184px;
}

.cta-area {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.cta-area.border-btm {
  padding-bottom: 20px;
  border-bottom: 1px solid #dbedf3;
  margin-bottom: 20px;
}

.sec-sb-title {
  font-style: italic;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 29px;
  color: var(--gray-theme-color);
}

.sm-title {
  font-style: italic;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 25px;
  color: var(--gray-theme-color);
}

.item-desc,
.sm-tag {
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 17px;
  color: var(--gray-theme-color);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.sm-tag {
  line-height: 25px;
  margin-bottom: 22px;
}

.sin-list-item-title,
.source-list-item-title {
  text-align: center;
  font-weight: 600;
}

.sin-list-item-img,
.add-item-btn,
.source-list-item-img {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border: 1px solid #dbedf3;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.sin-list-item:hover .sin-list-item-img,
.sin-list-item:hover .add-item-btn,
.source-list-item:hover .source-list-item-img {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.sin-list-item:hover .sin-list-item-img svg path,
.sin-list-item:hover .add-item-btn i {
  stroke: #1eae98;
}

.sin-list-item,
.source-list-item {
  max-width: 100px;
  width: 100%;
  cursor: pointer;
}

.add-items-list,
.source-list {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
}

.source-list {
  gap: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DBEDF3;
}

.passwords-boxes-main {
  margin-top: 19px;
  border-top: 1px solid #DBEDF3;
  padding-top: 20px;
}

/* sharing center css */
.sharing-center-tabs-list {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 2px solid #1EAE98;
  margin-bottom: 18px;
}

.share-tab-btn {
  font-style: italic;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 25px;
  text-align: center;
  color: var(--gray-theme-color);
  background: #FFFFFF;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #DBEDF3;
  border-radius: 25px 25px 0px 0px;
  padding: 7px 30px;
  transition: all 0.3s ease-in-out;
}

.share-tab-btn.active,
.share-tab-btn:hover {
  background-color: #1EAE98;
  border-color: #1EAE98;
  color: white;
}

.sharing-center-main {
  display: none;
}

.sharing-center-main.active {
  display: block;
}

.para {
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 25px;
  color: var(--gray-theme-color);
}

.swal2-title {
  font-style: italic;
  font-weight: 600 !important;
  font-size: 1.2rem !important;
  line-height: 29px !important;
  color: white !important;
}

.swal2-popup.swal2-toast {
  padding: 10px 20px !important;
  background-color: var(--gray-theme-color) !important;
  box-shadow: 0 0 0 0 #000 !important;
}

.swal2-timer-progress-bar {
  background-color: black !important;
  height: 4px !important;
}

.swal2-timer-progress-bar-container {
  height: 4px !important;
}


/*Loader Spinning*/
.company-detail-box {
  position: relative;
}

h1 {
  font-size: x-large;
  margin: 0;
}

.loaderMain {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 19px;
  padding: 40px 10px;
  position: absolute;
  background: #ffffffeb;
  z-index: 999;
  top: 4px;
  left: 0;
}

.loading-wrapper {
  height: 10px;
  width: 90%;
  margin-inline: 5%;
  background: #f5f5f5;
  border-radius: 5px;
  overflow: hidden;
  max-width: 30%;
}

.loader {
  background-color: #00818A;
  height: 100%;
  width: 80%;
  animation: loading 2s ease infinite;
}

.loaderMain:before {
  content: '';
  display: block;
  /* background: #00000029; */
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(130%);
  }
}

/*Loader Spinning*/

.acc-sett-btn {
  font-style: italic;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 17px;
  text-align: center;
  color: #404B69;
  background-color: #EDEDED;
  border: 1px solid #D9D9D9;
  border-radius: 45px;
  padding: 9px 20px;
  transition: all 0.3s ease-in-out;
}

.acc-sett-btn.btn2 {
  color: white;
  background-color: var(--primary-btn-color);
  min-width: 110px;
}

.acc-sett-btn:hover {
  background-color: white;
  color: var(--gray-theme-color);
  box-shadow: inset 0 0 10px 0 #000;
}

.exclaimation-circle-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #878787;
  color: #878787;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: transparent;
}