.nav-list {
  padding: 0 40px 0;
}

.nav-item {
  margin-bottom: 27px;
}

.nav-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  font-style: italic;
  font-weight: 500;
  font-size: 2rem;
  line-height: 25px;
  color: var(--gray-theme-color);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: #00818a;
}

.nav-link:hover svg path {
  stroke: #00818a;
}

.fastPass-nav-area {
  overflow-y: auto;
  flex-grow: 1;
  margin: 50px 0 0 0;
}

/* width */
.fastPass-nav-area::-webkit-scrollbar {
  width: 4px;
}

.fastPass-nav-area::-webkit-scrollbar-track {
  border-radius: 25px;
  background-color: transparent;
}

.fastPass-nav-area::-webkit-scrollbar-thumb {
  background: #00818A;
  border-radius: 10px;
}

.fastPass-nav-area::-webkit-scrollbar-thumb:hover {
  background: #00818A;
}

.sidebar-btm-area {
  margin-top: 72px;
}

.premium-tag {
  font-style: italic;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 17px;
  text-align: center;
  color: var(--gray-theme-color);
}

.premium-tag-area,
.copy-right-area {
  gap: 10px;
}

.copyright-para {
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 15px;
  text-align: center;
  color: var(--gray-theme-color);
}

.upgrade-btn-area {
  margin: 10px 25px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #dbedf3;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}

.nav-divider {
  margin: 20px 0;
  border: 1px solid #dbedf3;
  opacity: 1;
}

.upgrade-btn {
  font-size: 1.4rem;
  font-weight: 700;
  font-style: italic;
  padding: 10px 20px;
  border: none;
  background: var(--primary-btn-color);
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  color: white;
}

.days-count {
  flex-grow: 1;
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 17px;
  text-align: center;
  color: var(--gray-theme-color);
  display: block;
  text-align: center;
}

/* header css start */
.header {
  background-color: #eff9fe;
  padding: 43px 25px 24px 0;
}

.search-input {
  font-style: italic;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 17px;
  color: var(--gray-theme-color);
  background: #ffffff;
  border: 1px solid #dbedf3;
  border-radius: 25px;
  max-width: 883px;
  width: 100%;
  padding: 11px 20px 11px 44px;
  outline: none;
}

.search-input::placeholder {
  font-style: italic;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--gray-theme-color);
}

.search-icon {
  color: var(--gray-theme-color);
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.theme-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.notification-btn {
  background-color: transparent;
  color: var(--gray-theme-color);
  border: none;
  font-size: 2.4rem;
}

.profile-btn {
  padding: 2px 10px 2px 2px;
  background: #ffffff;
  border: 1px solid #dbedf3;
  border-radius: 25px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.profile-img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-user-name {
  display: block;
}

.profile-btn-right-area {
  flex-grow: 1;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
  text-align: start;
}

.profile-user-name {
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 17px;
  color: var(--gray-theme-color);
}

.profile-user-desig {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 12px;
  color: var(--gray-theme-color);
}

.profile-btn .fa-angle-down {
  font-size: 1.8rem;
  color: var(--primary-btn-color);
}

.header-right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header-left {
  flex-grow: 1;
}

.notification-count {
  width: 10px;
  height: 10px;
  background: #d83f31;
  border-radius: 50%;
  font-family: var(--popping-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 0.6rem;
  line-height: 9px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: -1px;
}

ul.profile-dropdown-list {
  position: absolute;
  left: 0;
  width: 100%;
  top: 40px;
  padding: 10px 15px 10px 22px;
  border-radius: 10px;
  background: #FFFFFF;
  border: 1px solid #DBEDF3;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.profile-dropdown-link {
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 25px;
  color: var(--gray-theme-color);
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  transition: all 0.5s ease-in-out;
}
.profile-dropdown-link i {
  font-size: 1.2rem;
}

.profile-dropdown-link:hover {
  color: var(--primary-btn-color);
}

/* .profile-dropdown-list-item {
  margin-bottom: 5px;
}

.profile-dropdown-list-item:last-child {
  margin-bottom: 0;
} */