.form-select.action-select {
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 17px;
  color: var(--gray-theme-color);
  width: 101px;
  height: 35px;
  background-color: #ededed;
  border-radius: 45px;
  padding: 9px 20px;
  position: relative;
  --bs-form-select-bg-img: url('../images/angle-down.png');
  background-size: unset;
  background-position: right 1.4rem center;
}

.form-select.action-select::before {
  content: " ";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 10px;
  width: 10px;
  background-color: tomato;
  z-index: 999;
}

.passwords-top-left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 22px;
}

.w-180px {
  width: 180px !important;
}

.pass-view-type-btn {
  background-color: transparent;
  border: none;
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 17px;
  color: var(--gray-theme-color);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.passwords-top-right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.passwords-boxes-main {
  margin-top: 19px;
  border-top: 1px solid #DBEDF3;
  padding-top: 20px;
}

.items-dropdown-btn {
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--gray-theme-color);
  line-height: 25px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 5px;
}

.items-dropdown-btn:hover,
.items-dropdown-btn.show {
  background-color: transparent;
  color: var(--gray-theme-color);
}

.items-dropdown-btn.dropdown-toggle::after {
  margin-left: .6em;
  vertical-align: .155em;
  border-top: .35em solid;
}

.items-dropdown-menu {
  background-color: white;
  border: 2px solid #DBEDF3;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.items-dropdown-menu li a {
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--gray-theme-color);
  line-height: 25px;
}

.passwords-box-label {
  width: 200px;
  height: 200px;
  background: #FFFFFF;
  border: 1px solid #DBEDF3;
  border-radius: 25px;
  padding: 20px 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.passwords-box-label:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.pas-check-square {
  border: 2px solid #1EAE98;
  height: 20px;
  width: 20px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1EAE98;
  font-size: 1.1rem;
  opacity: 0;
}

.pass-box-top {
  text-align: -webkit-right;
}

.pass-box-center {
  margin: 12px 0;
  text-align: center;
}

.pass-name {
  font-family: var(--century-gothic-font-family);
  font-style: italic;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 17px;
  text-align: center;
  color: var(--gray-theme-color);
}

.pass-dum-email {
  font-family: var(--century-gothic-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 12px;
  text-align: center;
  color: var(--gray-theme-color);
}

.pass-box-img {
  margin-bottom: 10px;
  height: 50px;
  width: 50px;
}

.pass-pox-cta svg path {
  transition: all 0.3s ease-in-out;
}

.pass-pox-cta:hover svg path {
  stroke: #1EAE98;
}

.pass-box-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  visibility: hidden;
}

.passwords-box-label:hover .pass-box-bottom {
  visibility: visible;
}

.pass-checkbox:checked+.passwords-box-label .pas-check-square {
  opacity: 1;
}

.custom-tooltip .tooltip-inner {
  background-color: #878787;
  padding: 5px 10px;
  font-family: var(--century-gothic-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
  top: 5px;
}

.custom-tooltip .tooltip-arrow::before {
  border-bottom-color: #878787;
}

.passwords-boxes-area {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.item-btn {
  font-style: italic;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 17px;
  color: var(--gray-theme-color);
  background-color: transparent;
  border: none;
}

.add-items-btn-area {
  margin-top: 130px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.item-btn-icon {
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  border: 1px solid #DBEDF3;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.item-btn:hover .item-btn-icon {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

section.passwords-section {
  padding: 0 0 50px;
}




/* sharing center css */
.sharing-center-tabs-list {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 2px solid #1EAE98;
  margin-bottom: 18px;
}

.share-tab-btn {
  font-style: italic;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 25px;
  text-align: center;
  color: var(--gray-theme-color);
  background: #FFFFFF;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #DBEDF3;
  border-radius: 25px 25px 0px 0px;
  padding: 7px 30px;
  transition: all 0.3s ease-in-out;
}
.share-tab-btn.active, .share-tab-btn:hover {
  background-color: #1EAE98;
  border-color: #1EAE98;
  color: white;
}
.sharing-center-main {
  display: none;
}
.sharing-center-main.active {
  display: block;
}