.mt-20px {
    margin-top: 20px;
}

.payment-options-main {
    border-top: 1px solid #DBEDF3;
    margin-top: 20px;
    padding-top: 20px;
}

.account-setting-list-item-left {
    padding: 10px 4px 10px 20px;
}

.payment-inner-area {
    padding: 10px 20px 20px;
    border-radius: 10px 10px 10px 10px;
}

.payment-acc-icon {
    color: var(--gray-theme-color);
    font-size: 1.6rem;
}

.payment-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.pay-sm-title {
    font-size: 1.5rem;
    color: var(--gray-theme-color);
    font-weight: 700;
    font-style: italic;
    line-height: 25px;
}

.payment-para {
    font-size: 1.4rem;
    font-weight: 400;
    font-style: italic;
    color: var(--gray-theme-color);
    line-height: 25px;
}

.coupon-field {
    color: var(--gray-theme-color);
    font-size: 1.2rem;
    font-weight: 400;
    border: 1px solid #D9D9D9;
    outline: none;
    background-color: #EDEDED;
    max-width: 200px;
    width: 100%;
    padding: 8px 30px 7px 10px;
    border-radius: 10px 0 0 10px;
}

.coupon-field::placeholder {
    color: var(--gray-theme-color);
    font-size: 1.2rem;
    font-weight: 400;
}

.coupon-field-area .secondary-btn {
    width: auto;
    padding: 8px 20px 10px;
    margin-left: -60px;
}

.coupon-code-area {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.coupon-field-area {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
}

.payment-para a {
    color: var(--gray-theme-color);
    text-decoration: none;
}

.payment-acc-icon {
    transition: 0.3s;
}

.payment-accordion-main.active .payment-acc-icon {
    transform: rotate(-180deg);
}

.cripto-payment-options {
    margin-top: 30px;
}

.crip-pay-img-area {
    height: 100px;
    width: 100px;
    border: 1px solid #DBEDF3;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.cripto-payment-1 {
    font-style: italic;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 17px;
    text-align: center;
    color: var(--gray-theme-color);
}

.payment-option-list {
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.payment-option-label {
    cursor: pointer;
}

.cripto-pay-radio:checked+.payment-option-label .crip-pay-img-area {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}